<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Web page settings --> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Data Visualization group 21 </title> <!-- Web page title. -->
  </head>
  <body>

    {{{body}}}
  </body>
</html>