<h2> this is the body of the barchart page.</h2>

<p> This page contains a sample D3.js bar chart. It is made based on 
  <a href="https://blog.logrocket.com/data-visualization-d3-js-node-js/"> this blog from logrocket</a>. It runs in D3.js. 
</p>

<script type="module" src="/js/d3barchart.js"></script>
<svg class="bar-chart"></svg>

<p>Something to keep in mind is how you link to the script. Here it is a "module", and the linking is "/js/d3barchart.js" </p>