

<!-- Dependencies for vega lite. -->
<script src="https://cdn.jsdelivr.net/npm/vega@5.22.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.5.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.21.0"></script>

<!-- Container for the visualization -->
<style>
.switch {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.switch-button {
    /* background and border when in "off" state */
    background: var(--highlight);
    border: 2px solid var(--highlight);
    display: grid; 
    grid-template-columns: 1fr 1fr;
    border-radius: 6px;
    color: #FFFFFF;
    position: relative;
    cursor: pointer;
    outline: 0;
    user-select: none;
}

.switch-input:not(:checked) + .switch-button .switch-button-left {
    /* text color when in "off" state */
    color: var(--highlight);
}

.switch-input {
    display: none;
}

.switch-button span {
    font-size: 1rem;
    padding: 0.2rem .7rem;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
    transition: color .2s;
}

.switch-button::before {
    content: '';
    position: absolute;
    background-color: red;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    border-radius: 4px;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    z-index: 1;
    transition: left .3s cubic-bezier(0.175, 0.885, 0.320, 1), 
                padding .2s ease, margin .2s ease;
}

.switch-button:hover::before {
    will-change: padding;
}

.switch-button:active::before {
    padding-right: .4rem;
}


/* "On" state
   ========================== */

.switch-input:checked + .switch-button {
    /* background and border when in "on" state */
    background-color: var(--links);
    border-color: var(--links);
}

.switch-input:checked + .switch-button .switch-button-right {
    /* text color when in "on" state */
    color: var(--links);
}

.switch-input:checked + .switch-button::before {
    left: 50%;
}

.switch-input:checked + .switch-button:active::before {
    margin-left: -.4rem;
}

/* Checkbox in disabled state
   ========================== */

.switch-input[type="checkbox"]:disabled + .switch-button {
    opacity: 0.6;
    cursor: not-allowed;
}

</style>

<div> 
<label class="switch">
    <input class="switch-input"
            type="checkbox" id="ChangeHeat">
    <div class="switch-button">
        <span style="font-family: Arial, Helvetica, sans-serif; color:black" class="switch-button-left">Analyze subcategories</span> 
        <span style="font-family: Arial, Helvetica, sans-serif; color:black" class="switch-button-right">Show index trends</span>
    </div>
</label>


</div>
<body>
<center><div id="sunburst"></div>
<div id="rightside"></div>
</center>
</body>
<!-- Script for the visualization specification. --> 
<script type="module">
  import axios from 'https://cdn.skypack.dev/axios';
  // Assign the specification to a local variable vlSpec.
  var sunburst = {
  "$schema": "https://vega.github.io/schema/vega/v5.json",
  "description": "An example of a space-fulling radial layout for hierarchical data.",
  "width": 600,
  "height": 600,
  "padding": 0,
  "autosize": "none",

  "data": [
    {
      "name": "tree",
      "values": [
{"size": 0,"id": "000000", "parent":null, "name":"I alt", "andel": 100},
          {"size": 0, "id": "010000", "parent":"000000",  "name":"Fødevarer og ikke alkoholiske drikkevarer", "andel": 12.5779},
            {"size": 0, "id": "011000", "parent":"010000",  "name":"Fødevarer", "andel": 11.025},
              {"size": 0, "id": "011100", "parent":"011000",  "name":"Brød og kornprodukter" , "andel": 1.595},
              {"size": 0.0605, "id": "011110", "parent":"011100",  "name":"Ris"},
              {"size": 0.0465, "id": "011120", "parent":"011100",  "name":"Mel og gryn"},
              {"size": 0.6454, "id": "011130", "parent":"011100",  "name":"Brød"},
              {"size": 0.4726, "id": "011140", "parent":"011100",  "name":"Andet bagværk"},
              {"size": 0.0624, "id": "011150", "parent":"011100",  "name":"Pizza og tærter"},
              {"size": 0.1201, "id": "011160", "parent":"011100",  "name":"Pastaprodukter og couscous"},
              {"size": 0.1357, "id": "011170", "parent":"011100",  "name":"Morgenmadsprodukter"},
              {"size": 0.0518, "id": "011180", "parent":"011100",  "name":"Blandingsmel og færdigdej"},
            {"size": 0, "id": "011200", "parent":"011000",  "name":"Kød", "andel": 2.5242},
              {"size": 0.6555, "id": "011210", "parent":"011200",  "name":"Okse- og kalvekød"},
              {"size": 0.3361, "id": "011220", "parent":"011200",  "name":"Svinekød"},
              {"size": 0.0474, "id": "011230", "parent":"011200",  "name":"Lamme- og gedekød"},
              {"size": 0.4297, "id": "011240", "parent":"011200",  "name":"Fjerkræ"},
              {"size": 0.0079, "id": "011260", "parent":"011200",  "name":"Indmad o.l."},
              {"size": 0.526, "id": "011270", "parent":"011200",  "name":"Tørret, saltet eller røget kød "},
              {"size": 0.5216, "id": "011280", "parent":"011200",  "name":"Andet kødpålæg mv."},
            {"size": 0, "id": "011300", "parent":"011000",  "name":"Fisk og skaldyr","andel": 2.4741},
              {"size": 0.1174, "id": "011310", "parent":"011300",  "name":"Fisk, fersk"},
              {"size": 0.0267, "id": "011320", "parent":"011300",  "name":"Fisk, frossen"},
              {"size": 0.0418, "id": "011340", "parent":"011300",  "name":"Skaldyr, frossen"},
              {"size": 0.0781, "id": "011350", "parent":"011300",  "name":"Tørrede, røgede eller saltede fisk og skaldyr"},
              {"size": 0.2101, "id": "011360", "parent":"011300",  "name":"Andre konserverede eller forarbejdede fisk og skaldyr"},
            {"size": 0, "id": "011400", "parent":"011000",  "name":"Mælk, ost og æg","andel": 1.7458},
              {"size": 0.1691, "id": "011410", "parent":"011400",  "name":"Mælk, frisk"},
              {"size": 0.2465, "id": "011420", "parent":"011400",  "name":"Mælk med lavt fedtindhold, frisk"},
              {"size": 0.2379, "id": "011440", "parent":"011400",  "name":"Yoghurt"},
              {"size": 0.6339, "id": "011450", "parent":"011400",  "name":"Ost"},
              {"size": 0.263, "id": "011460", "parent":"011400",  "name":"Andre mejeriprodukter"},
              {"size": 0.1954, "id": "011470", "parent":"011400",  "name":"Æg"},
            {"size": 0, "id": "011500", "parent":"011000",  "name":"Smør, margarine og spiseolier", "andel": 0.3501},
              {"size": 0.2036, "id": "011510", "parent":"011500",  "name":"Smør"},
              {"size": 0.0508, "id": "011520", "parent":"011500",  "name":"Margarine og andre vegetabilske fedtstoffer"},
              {"size": 0.0566, "id": "011530", "parent":"011500",  "name":"Olivenolie"},
              {"size": 0.0391, "id": "011540", "parent":"011500",  "name":"Andre spiseolier"},
            {"size": 0, "id": "011600", "parent":"011000",  "name":"Frugt", "andel": 0.861},
              {"size": 0.5869, "id": "011610", "parent":"011600",  "name":"Frugt, frisk"},
              {"size": 0.0215, "id": "011620", "parent":"011600",  "name":"Frugt, frossen"},
              {"size": 0.195, "id": "011630", "parent":"011600",  "name":"Tørrede frugter og nødder"},
              {"size": 0.0576, "id": "011640", "parent":"011600",  "name":"Konserverede frugter, frugtbaserede produkter"},
            {"size": 0, "id": "011700", "parent":"011000",  "name":"Grøntsager" ,"andel": 1.2233},
              {"size": 0.6832, "id": "011710", "parent":"011700",  "name":"Grøntsager ekskl. kartofler, frisk"},
              {"size": 0.0579, "id": "011720", "parent":"011700",  "name":"Grøntsager, frosne"},
              {"size": 0.1978, "id": "011730", "parent":"011700",  "name":"Tørrede eller forarbejdede grøntsager"},
              {"size": 0.1755, "id": "011740", "parent":"011700",  "name":"Kartofler og kartoffelprodukter"},
              {"size": 0.109, "id": "011750", "parent":"011700",  "name":"Chips mv."},
            {"size": 0, "id": "011800", "parent":"011000",  "name":"Sukkervarer, marmelade, chokolade mv.","andel": 1.6951},
              {"size": 0.056, "id": "011810", "parent":"011800",  "name":"Sukker o.l."},
              {"size": 0.1271, "id": "011820", "parent":"011800",  "name":"Syltetøj, marmelade og honning"},
              {"size": 0.5117, "id": "011830", "parent":"011800",  "name":"Chokolade"},
              {"size": 0.6024, "id": "011840", "parent":"011800",  "name":"Slik og marcipan"},
              {"size": 0.3978, "id": "011850", "parent":"011800",  "name":"Konsumis"},
            {"size": 0, "id": "011900", "parent":"011000",  "name":"Andre fødevarer","andel": 0.5563},
              {"size": 0.1812, "id": "011910", "parent":"011900",  "name":"Sovs og andre smagspræparater"},
              {"size": 0.091, "id": "011920", "parent":"011900",  "name":"Salt, krydderier og krydderurter "},
              {"size": 0.0334, "id": "011930", "parent":"011900",  "name":"Babymad"},
              {"size": 0.204, "id": "011940", "parent":"011900",  "name":"Færdigretter"},
              {"size": 0.0468, "id": "011990", "parent":"011900",  "name":"Andre fødevarer"},
            {"size": 0, "id": "012000", "parent":"010000",  "name":"Ikke-alkoholiske drikkevarer" ,"andel": 1.553},
              {"size": 0, "id": "012100", "parent":"012000",  "name":"Kaffe, te og kakao"},
                {"size": 0.3614, "id": "012110", "parent":"012100",  "name":"Kaffe"},
                {"size": 0.0885, "id": "012120", "parent":"012100",  "name":"Te"},
                {"size": 0.01, "id": "012130", "parent":"012100",  "name":"Kakao"},
              {"size": 0, "id": "012200", "parent":"012000",  "name":"Mineralvand, sodavand og juice"},
                {"size": 0.1195, "id": "012210", "parent":"012200",  "name":"Mineralvand eller kildevand"},
                {"size": 0.6012, "id": "012220", "parent":"012200",  "name":"Læskedrikke"},
                {"size": 0.3724, "id": "012230", "parent":"012200",  "name":"Frugt- og grøntsagssaft samt koncentrater til saft"},

          {"size": 0, "id": "020000", "parent":"000000",  "name":"ALKOHOLISKE DRIKKEVARER OG TOBAK", "andel": 4.2698},
            {"size": 0, "id": "021000", "parent":"020000",  "name":"Alkoholiske drikkevarer", "andel": 1.9728},
              {"size": 0, "id": "021100", "parent":"021000",  "name":"Spiritus", "andel": 0.2526},
                {"size": 0.2365, "id": "021110", "parent":"021100",  "name":"Spiritus og likør"},
                {"size": 0.0161, "id": "021120", "parent":"021100",  "name":"Alkoholiske læskedrikke"},
              {"size": 0, "id": "021200", "parent":"021000",  "name":"Vin", "andel": 1.0412},
                {"size": 1.0412, "id": "021210", "parent":"021200",  "name":"Vin af druer"},
                {"size": 0.0136, "id": "021220", "parent":"021200",  "name":"Vin af andre frugter"},
                {"size": 0.0552, "id": "021230", "parent":"021200",  "name":"Hedvin"},
              {"size": 0, "id": "021300", "parent":"021000",  "name":"Øl", "andel": 0.6103},
                {"size": 0.5940, "id": "021310", "parent":"021300",  "name":"Pilsnerøl, guldøl"},
                {"size": 0.0162, "id": "021330", "parent":"021300",  "name":"Øl med lavt alkoholindhold og alkoholfri øl (under 1 pct.alk.)"},
            {"size": 0, "id": "022000", "parent":"020000",  "name":"Tobak", "andel": 2.2969},
              {"size": 1.8699, "id": "022010", "parent":"022000",  "name":"Cigaretter"},
              {"size": 0.0480, "id": "022020", "parent":"022000",  "name":"Cigarer o.l."},
              {"size": 0.3790, "id": "022030", "parent":"022000",  "name":"Andre tobaksvarer"},

          {"size": 0, "id": "030000", "parent":"000000",  "name":"BEKLÆDNING OG FODTØJ", "andel": 4.5817},
            {"size": 0, "id": "031000", "parent":"030000",  "name":"Beklædning"},
              {"size": 0.0373, "id": "031100", "parent":"031000",  "name":"Beklædningstekstiler"},
              {"size": 0, "id": "031200", "parent":"031000",  "name":"Beklædningsartikler", "andel": 3.2044},
                {"size": 1.0778, "id": "031210", "parent":"031200",  "name":"Tøj til mænd"},
                {"size": 1.6905, "id": "031220", "parent":"031200",  "name":"Tøj til kvinder"},
                {"size": 0.4361, "id": "031230", "parent":"031200",  "name":"Tøj til børn under 14 år"},
              {"size": 0, "id": "031300", "parent":"031000",  "name":"Andre artikler til beklædning", "andel": 0.281},
                {"size": 0.1609, "id": "031310", "parent":"031300",  "name":"Andre beklædningsgenstande"},
                {"size": 0.1201, "id": "031320", "parent":"031300",  "name":"Beklædningstilbehør"},
              {"size": 0.0000, "id": "031400", "parent":"031000",  "name":"Rensning, reparation og leje af beklædning", "andel": 0.0298},
                {"size": 0.0266, "id": "031410", "parent":"031400",  "name":"Vask og rens af tøj"},
                {"size": 0.0032, "id": "031420", "parent":"031400",  "name":"Reparation og leje af beklædning"},
              {"size": 0.0000, "id": "032000", "parent":"030000",  "name":"Fodtøj", "andel": 1.0292},
                {"size": 0.0000, "id": "032100", "parent":"032000",  "name":"Sko og andet fodtøj", "andel": 1.021},
                  {"size": 0.3534, "id": "032110", "parent":"032100",  "name":"Fodtøj til mænd"},
                  {"size": 0.5384, "id": "032120", "parent":"032100",  "name":"Fodtøj til kvinder"},
                  {"size": 0.1302, "id": "032130", "parent":"032100",  "name":"Fodtøj til børn under 14 år"},
                {"size": 0.0082, "id": "032200", "parent":"032000",  "name":"Reparation af fodtøj"},

          {"size": 0, "id": "040000", "parent":"000000",  "name":"BOLIGBENYTTELSE, ELEKTRICITET OG OPVARMNING", "andel": 29.9251},
            {"size": 8.2186, "id": "041000", "parent":"040000",  "name":"Faktisk husleje"},
            {"size": 0, "id": "042000", "parent":"040000",  "name":"Beregnet lejeværdi af bolig", "andel": 12.8423},
              {"size": 11.9158, "id": "042100", "parent":"042000",  "name":"Beregnet legeværdi af ejerboliger"},
              {"size": 0.9265, "id": "042200", "parent":"042000",  "name":"Andre beregnede lejeværdier"},
            {"size": 0, "id": "043000", "parent":"040000",  "name":"Vedligeholdelse og reparation af bolig", "andel": 1.2416 },
              {"size": 0.6724, "id": "043100", "parent":"043000",  "name":"Materialer til vedligeholdelse og reparation af bolig"},
              {"size": 0.5692, "id": "043200", "parent":"043000",  "name":"Tjenester til vedligeholdelse og reparation af bolig", "andel": 0.5692},
                {"size": 0.0632, "id": "043210", "parent":"043200",  "name":"Tjenesteydeelser, blikkenslagere"},
                {"size": 0.0256, "id": "043220", "parent":"043200",  "name":"Tjenesteydelser, elektrikere"},
                {"size": 0.1055, "id": "043230", "parent":"043200",  "name":"Vedligeholdelse af varmeanlæg"},
                {"size": 0.0533, "id": "043240", "parent":"043200",  "name":"Tjeneseteydelser, malere"},
                {"size": 0.1374, "id": "043250", "parent":"043200",  "name":"Tjenesteydelser, tømrere og snedkere"},
                {"size": 0.1842, "id": "043290", "parent":"043200",  "name":"Andre tjenester til vedligeholdelse og reparation af bolig"},
            {"size": 0.0000, "id": "044000", "parent":"040000",  "name":"Vandforsyning og andre tjenester i forbindelse med boligen", "andel": 2.2391},
              {"size": 0.6868, "id": "044100", "parent":"044000",  "name":"Vandforsyning"},
              {"size": 0.4552, "id": "044200", "parent":"044000",  "name":"Renovation"},
              {"size": 0.9577, "id": "044300", "parent":"044000",  "name":"Vandafledningsafgift mv."},
              {"size": 0.0000, "id": "044400", "parent":"044000",  "name":"Andre tjenester i forbindelse med bolig", "andel": 0.1394},
                {"size": 0.0488, "id": "044420", "parent":"044400",  "name":"Sikkerhedstjenester"},
                {"size": 0.0906, "id": "044490", "parent":"044400",  "name":"Andre tjenester vedr. bolig"},
            {"size": 0, "id": "045000", "parent":"040000",  "name":"Elektricitet, gas og andet brændsel", "andel":5.3835},
              {"size": 2.5475, "id": "045100", "parent":"045000",  "name":"Elektricitet"},
              {"size": 0, "id": "045200", "parent":"045000",  "name":"Gas", "andel":0.6485},
                {"size": 0.6146, "id": "045210", "parent":"045200",  "name":"Naturgas o.l."},
                {"size": 0.0339, "id": "045220", "parent":"045200",  "name":"Flaskegas"},
              {"size": 0.2313, "id": "045300", "parent":"045000",  "name":"Flydende brændsel"},
              {"size": 0.0000, "id": "045400", "parent":"045000",  "name":"Fast brændsel", "andel": 0.2596},
                {"size": 0.0002, "id": "045410", "parent":"045400",  "name":"Kul"},
                {"size": 0.2594, "id": "045490", "parent":"045400",  "name":"Andet fast Bændsel"},
             {"size": 1.6965, "id": "045500", "parent":"045000",  "name":"Fjernvarme mv."},

          {"size": 0.7568, "id": "050000", "parent":"000000",  "name":"MØBLER, HUSHOLDNINGSUDSTYR OG HUSHOLDNINGSTJENESTER", "andel":6.4012},
            {"size": 0, "id": "051000", "parent":"050000",  "name":"Møbler og boligudstyr, tæpper og anden gulvbelægning", "andel":2.5985},
              {"size": 0, "id": "051100", "parent":"051000",  "name":"Møbler og boligudstyr", "andel":2.4213},
                {"size": 1.5477, "id": "051110", "parent":"051100",  "name":"Møbler"},
                {"size": 0.2176, "id": "051120", "parent":"051100",  "name":"Havemøbler"},
                {"size": 0.2401, "id": "051130", "parent":"051100",  "name":"Lamper"},
                {"size": 0.4159, "id": "051190", "parent":"051100",  "name":"Andre møbler og boligudstyr"},
              {"size": 0, "id": "051200", "parent":"051000",  "name":"Tæpper og anden gulvbelægning", "andel": 0.1593},
                {"size": 0.0843, "id": "051210", "parent":"051200",  "name":"Tæpper"},
                {"size": 0.0658, "id": "051220", "parent":"051200",  "name":"Anden gulvbelægning"},
                {"size": 0.0092, "id": "051230", "parent":"051200",  "name":"Montering af faste tæpper 0g gulvbelægning"},
              {"size": 0.0180, "id": "051300", "parent":"051000",  "name":"Reparation af møbler, boligudstyr og gulvbelægning"},
            {"size": 0, "id": "052000", "parent":"050000",  "name":"Boligtekstiler", "andel": 0.6533},
              {"size": 0.1673, "id": "052010", "parent":"052000",  "name":"Møbelstof og gardiner"},
              {"size": 0.3682, "id": "052020", "parent":"052000",  "name":"Sengelinned"},
              {"size": 0.0814, "id": "052030", "parent":"052000",  "name":"Duge og håndklæder"},
              {"size": 0.0364, "id": "052090", "parent":"052000",  "name":"Andre boligtekstiler"},
            {"size": 0, "id": "053000", "parent":"050000",  "name":"Husholdningsapparater og reparation heraf", "andel": 1.0086},
              {"size": 0, "id": "053100", "parent":"053000",  "name":"Større elektriske husholdningsapparater", "andel": 0.7879},
                {"size": 0.209, "id": "053110", "parent":"053100",  "name":"Køleskabe, frysere og køle-fryseskabe"},
                {"size": 0.3394, "id": "053120", "parent":"053100",  "name":"Vaskemaskiner, tørretumblere og opvaskemaskiner"},
                {"size": 0.1472, "id": "053130", "parent":"053100",  "name":"Komfurer"},
                {"size": 0.012, "id": "053140", "parent":"053100",  "name":"Varmeapparater, klimaanlæg"},
                {"size": 0.0619, "id": "053150", "parent":"053100",  "name":"Støvsugere o.l."},
                {"size": 0.0112, "id": "053190", "parent":"053100",  "name":"Andre større husholdningsapparater"},
              {"size": 0, "id": "053200", "parent":"053000",  "name":"Mindre elektriske husholdningsapparater", "andel": 0.1823},
                {"size": 0.0335, "id": "053210", "parent":"053200",  "name":"Foodprocessor"},
                {"size": 0.0517, "id": "053220", "parent":"053200",  "name":"Kaffemaskiner, elkedler o.l."},
                {"size": 0.0259, "id": "053230", "parent":"053200",  "name":"Strygejern"},
                {"size": 0.0063, "id": "053240", "parent":"053200",  "name":"Toaster, brødrister o.l."},
                {"size": 0.0649, "id": "053290", "parent":"053200",  "name":"Andre små elektriske husholdningsapparater"},  
                {"size": 0.0384, "id": "053300", "parent":"053000",  "name":"Reparation og leje af husholdningsapparater"},
                {"size": 0, "id": "054000", "parent":"050000",  "name":"Glas, service og husholdningsredskaber", "andel": 0.6382},
              {"size": 0.2459, "id": "054010", "parent":"054000",  "name":"Glas, Keramik og Porcelæn"},
              {"size": 0.0086, "id": "054020", "parent":"054000",  "name":"Bestik og sølvtøj"},
              {"size": 0.3837, "id": "054030", "parent":"054000",  "name":"ikke-elektriske køkkenredskaber og ertikler"},
            {"size": 0, "id": "055000", "parent":"050000",  "name":"Værktøj og udstyr til hus og have ", "andel": 0.7458},
              {"size": 0.2552, "id": "055100", "parent":"055000",  "name":"Større redskaber og udstyr"},
              {"size": 0, "id": "055200", "parent":"055000",  "name":"Mindre redskaber og diverse tilbehør", "andel": 0.4906},
                {"size": 0.1974, "id": "055210", "parent":"055200",  "name":"Ikke-motoriserede mindre redskaber"},
                {"size": 0.2932, "id": "055220", "parent":"055200",  "name":"Diverse tilbehør til mindre redskaber"},
            {"size": 0, "id": "056000", "parent":"050000",  "name":"Andre varer og tjenester til husholdningen", "andel": 0.7568},
              {"size": 0, "id": "056100", "parent":"056000",  "name":"Ikke-varige produkter til husførelse", "andel": 0.5102},
                {"size": 0.2313, "id": "056110", "parent":"056100",  "name":"Rengøringsartikler"},
                {"size": 0.2789, "id": "056120", "parent":"056100",  "name":"Andre ikke-varige små husholdningsartikler"},
              {"size": 0, "id": "056200", "parent":"056000",  "name":"Tjenestydelser i hjemmet", "andel": 0.2466},
                {"size": 0.0674, "id": "056210", "parent":"056200",  "name":"Hjælp til hjem og have"},
                {"size": 0.0134, "id": "056230", "parent":"056200",  "name":"Leje af møbler og inventar"},
                {"size": 0.1658, "id": "056290", "parent":"056200",  "name":"Rengøring og vinduespudsning"},
                {"size": 0, "id": "060000", "parent":"000000",  "name":"SUNDHED", "andel": 3.167},
            {"size": 0, "id": "061000", "parent":"060000",  "name":"Medicinske produkter og udstyr", "andel": 1.4573},
              {"size": 0.7728, "id": "061100", "parent":"061000",  "name":"Farmaceutiske produkter"},
              {"size": 0, "id": "061200", "parent":"061000",  "name":"Andre Medidicinske produkter", "andel": 0.0943},
                {"size": 0.0015, "id": "061210", "parent":"061200",  "name":"Graviditetstest og kondomer mv."},
                {"size": 0.0928, "id": "061290", "parent":"061200",  "name":"Andre medicinske produkter o.l."},
              {"size": 0, "id": "061300", "parent":"061000",  "name":"Medicinske apparater og udstyr", "andel": 0.5902},
                {"size": 0.5902, "id": "061310", "parent":"061300",  "name":"Briller og kontaktlinser"},
            {"size": 0, "id": "062000", "parent":"060000",  "name":"Ambulant behandling", "andel": 1.289},
              {"size": 0, "id": "062100", "parent":"062000",  "name":"Lægelige ydelser", "andel": 0.0575},
                {"size": 0.575, "id": "062110", "parent":"062100",  "name":"Praktiserende læge"},
              {"size": 0.7914, "id": "062200", "parent":"062000",  "name":"Tandlæge"},
              {"size": 0, "id": "062300", "parent":"062000",  "name":"Paramediske tjenester", "andel": 0.4401},
                {"size": 0.4401, "id": "062390", "parent":"062300",  "name":"Andre paramediske tjenester"},
            {"size": 0.4207, "id": "063000", "parent":"060000",  "name":"Hospitalbehandling"},
          {"size": 0, "id": "070000", "parent":"000000",  "name":"TRANSPORT","andel":11.819},
           {"size": 0, "id": "071000", "parent":"070000",  "name":"Køb af køretøjer", "andel": 4.5816},
              {"size": 0, "id": "071100", "parent":"071000",  "name":"Personbiler", "andel": 4.2338},
                {"size": 2.9298, "id": "071110", "parent":"071100",  "name":"Nye biler"},
                {"size": 1.304, "id": "071120", "parent":"071100",  "name":"Brugte biler"},
              {"size": 0.0877, "id": "071200", "parent":"071000",  "name":"Motorcykler o.l."},
              {"size": 0.2601, "id": "071300", "parent":"071000",  "name":"Cykler"},
            {"size": 0, "id": "072000", "parent":"070000",  "name":"Drift af personlige transportmidler","andel":6.4804},
              {"size": 0, "id": "072100", "parent":"072000",  "name":"Reservedele og tilbehør", "andel": 0.4644},
                {"size": 0.1797, "id": "072110", "parent":"072100",  "name":"Dæk"},
                {"size": 0.168, "id": "072120", "parent":"072100",  "name":"Reservedele til personlige transportmidler"},
                {"size": 0.1167, "id": "072130", "parent":"072100",  "name":"Tilbehør til personlige transportmidler"},
              {"size": 0, "id": "072200", "parent":"072000",  "name":"Brændstof", "andel": 2.3859},
                {"size": 0.6966, "id": "072210", "parent":"072200",  "name":"Diesel"},
                {"size": 1.678, "id": "072220", "parent":"072200",  "name":"Benzin"},
                {"size": 0.0113, "id": "072240", "parent":"072200",  "name":"Smøremidler"},
              {"size": 1.4094, "id": "072300", "parent":"072000",  "name":"Vedligeholdelse og reparation af personlige transportmidler"},
              {"size": 0, "id": "072400", "parent":"072000",  "name":"Andre tjenester vedr. personlige transportmidler", "andel": 2.2207},
                {"size": 1.4028, "id": "072410", "parent":"072400",  "name":"Leje af bil og garage"},
                {"size": 0.303, "id": "072420", "parent":"072400",  "name":"Vejafgifter og parkeringsafgift"},
                {"size": 0.5149, "id": "072430", "parent":"072400",  "name":"Køretimer, kørekort og syn af bil"},
            {"size": 0, "id": "073000", "parent":"070000",  "name":"Transporttjenester", "andel": 0.757},
              {"size": 0, "id": "073100", "parent":"073000",  "name":"Transport med tog og metro", "andel": 0.1829},
                {"size": 0.1390, "id": "073110", "parent":"073100",  "name":"Transport med tog"},
                {"size": 0.0439, "id": "073120", "parent":"073100",  "name":"Transport med metro"},
              {"size": 0, "id": "073200", "parent":"073000",  "name":"Transport med bus og taxi", "andel": 0.0872},
                {"size": 0.0473, "id": "073210", "parent":"073200",  "name":"Transport med bus"},
                {"size": 0.0399, "id": "073220", "parent":"073200",  "name":"Taxi"},
              {"size": 0, "id": "073300", "parent":"073000",  "name":"Fly", "andel": 0.2828},
                {"size": 0.0392, "id": "073310", "parent":"073300",  "name":"Indenrigsflyvning"},
                {"size": 0.2436, "id": "073320", "parent":"073300",  "name":"Udenrigsflyvning"},
              {"size": 0, "id": "073400", "parent":"073000",  "name":"Transport med færge", "andel": 0.0783},
                {"size": 0.0783, "id": "073410", "parent":"073400",  "name":"Transport med færge"},
              {"size": 0.1083, "id": "073500", "parent":"073000",  "name":"Kombineret persontransport"},
              {"size": 0, "id": "073600", "parent":"073000",  "name":"Varetransport, flytteforretning", "andel": 0.0175},
                {"size": 0.0175, "id": "073620", "parent":"073600",  "name":"Flytning og opmagasinering"},
                {"size": 0, "id": "080000", "parent":"000000",  "name":"KOMMUNIKATION", "andel": 1.9484},
            {"size": 0, "id": "081000", "parent":"080000",  "name":"Posttjenester", "andel": 0.0235},
              {"size": 0.0223, "id": "081101", "parent":"081000",  "name":"Porto, breve"},
              {"size": 0.0012, "id": "081109", "parent":"081000",  "name":"Porto, pakker"},
            {"size": 0, "id": "082000", "parent":"080000",  "name":"Teleudstyr", "andel": 0.5606},
              {"size": 0.0004, "id": "082010", "parent":"082000",  "name":"Fastnettelefon, udstyr"},
              {"size": 0.5602, "id": "082020", "parent":"082000",  "name":"Mobiltelefom, udstyr"},
            {"size": 0, "id": "083000", "parent":"080000",  "name":"Teletjenester", "andel": 1.3643},
              {"size": 0.0365, "id": "083010", "parent":"083000",  "name":"Fastnettelefon, tjenester"},
              {"size": 0.4736, "id": "083020", "parent":"083000",  "name":"Mobiltelefon, tjenester"},
              {"size": 0.3793, "id": "083030", "parent":"083000",  "name":"Internet"},
              {"size": 0.4749, "id": "083040", "parent":"083000",  "name":"Kombinerede teletjenester"},
              


              {"size": 0, "id": "090000", "parent":"000000",  "name":"FRITID OG KULTUR", "andel": 10.6246},
            {"size": 0, "id": "091000", "parent":"090000",  "name":"Audiovisuelt og fotografisk udstyr samt databehandlingsudstyr", "andel": 2.5797},
              {"size": 0, "id": "091100", "parent":"091000",  "name":"Radio, TV og lydanlæg", "andel": 0.9512},
                {"size": 0.2066, "id": "091110", "parent":"091100",  "name":"Musikanlæg, højtalere o.l."},
                {"size": 0.6179, "id": "091120", "parent":"091110",  "name":"Tv, dvd-afspiller o.l."},
                {"size": 0.0099, "id": "091130", "parent":"091110",  "name":"Bærbar lyd, CD-afspiller o.l."},
                {"size": 0.1168, "id": "091190", "parent":"091110",  "name":"Høretelefoner, digitale fotorammer, E-boglæsere o.l."},
              {"size": 0, "id": "091200", "parent":"091000",  "name":"Fotografisk og optisk udstyr", "andel": 0.1539},
                {"size": 0.112, "id": "091210", "parent":"091200",  "name":"Kameraer"},
                {"size": 0.0419, "id": "091220", "parent":"091200",  "name":"Tilbehør til fotografisk og optisk udstyr"},
              {"size": 0, "id": "091300", "parent":"091000",  "name":"IT-udstyr", "andel": 1.1593},
                {"size": 0.7972, "id": "091310", "parent":"091300",  "name":"PC'er, tablets mv."},
                {"size": 0.2438, "id": "091320", "parent":"091300",  "name":"Tilbehør til PC'er, tablets mv."},
                {"size": 0.1141, "id": "091330", "parent":"091300",  "name":"software"},
                {"size": 0.0042, "id": "091340", "parent":"091300",  "name":"Printere, regnemaskiner o.l."},
              {"size": 0, "id": "091400", "parent":"091000",  "name":"Medier til registrering af lyd, billeder og data", "andel": 0.2072},
                {"size": 0.1955, "id": "091410", "parent":"091400",  "name":"Indspillede medier"},
                {"size": 0.0117, "id": "091490", "parent":"091400",  "name":"Memorycard, usb-stick mv."},
              {"size": 0.1081, "id": "091500", "parent":"091000",  "name":"Reparation af radio, TV, lydanlæg og IT-udstyr"},
            {"size": 0, "id": "092000", "parent":"090000",  "name":"Andre større forbrugsgoder i forbindelse med fritid og kultur", "andel": 0.777},
              {"size": 0, "id": "092100", "parent":"092000",  "name":"Større forbrugsgoder til fritidsaktiviteter", "andel": 0.6879},
                {"size": 0.644, "id": "092110", "parent":"092100",  "name":"Autocampere, campingvogne og påhængsvogne"},
                {"size": 0.0439, "id": "092130", "parent":"092100",  "name":"Både, påhængsmotorer og montering af udstyr i både"},
              {"size": 0, "id": "092200", "parent":"092000",  "name":"Musikinstrumenter og større forbrugsgoder til indendørs fritidsaktiviteter", "andel": 0.0891},
                {"size": 0.0891, "id": "092210", "parent":"092200",  "name":"Musikinstrumenter"},
            {"size": 0, "id": "093000", "parent":"090000",  "name":"Andet tilbehør og udstyr til fritid, haver, og kæledyr", "andel": 2.4067},
              {"size": 0, "id": "093100", "parent":"093000",  "name":"Spil legetøj og hobbyartikler", "andel": 0.6599},
                {"size": 0.2815, "id": "093110", "parent":"093100",  "name":"Spil og hobbyartikler"},
                {"size": 0.3784, "id": "093120", "parent":"093100",  "name":"Legetøj og festartikler"},
              {"size": 0, "id": "093200", "parent":"093000",  "name":"Udstyr til sport, camping og friluftsaktiviteter", "andel": 0.1971},
                {"size": 0.135, "id": "093210", "parent":"093200",  "name":"Udstyr til sport"},
                {"size": 0.0621, "id": "093220", "parent":"093200",  "name":"Udstyr til camping og friluftsartikler"},
              {"size": 0, "id": "093300", "parent":"093000",  "name":"Planter og blomster", "andel": 0.7431},
                {"size": 0.1457, "id": "093310", "parent":"093300",  "name":"Gødning, havekrukker mv."},
                {"size": 0.5974, "id": "093320", "parent":"093300",  "name":"Planter og blomster"},
              {"size": 0, "id": "093400", "parent":"093000",  "name":"Kæledyr og relaterede produkter", "andel": 0.5123},
                {"size": 0.0905, "id": "093410", "parent":"093400",  "name":"Køb af kæledyr"},
                {"size": 0.4218, "id": "093420", "parent":"093400",  "name":"Artikler til kæledyr"},
              {"size": 0.2943, "id": "093500", "parent":"093000",  "name":"Dyrlæge og andre tjenester i forbindelse med kæledyr"},
            {"size": 0, "id": "094000", "parent":"090000",  "name":"Tjenester i forbindelser med fritid, kultur og sport", "andel": 3.512},
                {"size": 0, "id": "094100", "parent":"094000",  "name":"Tjenester i forbindelse med fritid og sport", "andel": 1.0824},
                  {"size": 0.148, "id": "094110", "parent":"094100",  "name":"Fritid og sport - Tilskuer"},
                  {"size": 0.9344, "id": "094120", "parent":"094100",  "name":"Fritid og sport - Deltagelse"},
                {"size": 0, "id": "094200", "parent":"094000",  "name":"Tjenester i forbindelse med kultur", "andel": 2.4296},
                  {"size": 0.5944, "id": "094210", "parent":"094200",  "name":"Bigrafer, teatre, koncerter"},
                  {"size": 0.2612, "id": "094220", "parent":"094200",  "name":"Museer, zoologiske haver mv."},
                  {"size": 1.4766, "id": "094230", "parent":"094200",  "name":"Tv og radiolicens, Tv-abonnementer"},
                  {"size": 0.0085, "id": "094240", "parent":"094200",  "name":"Leje af udstyr og tilbehør til kultur"},
                  {"size": 0.0889, "id": "094250", "parent":"094200",  "name":"Fotorgrafering og frenkaldelse af billeder"},
            {"size": 0, "id": "095000", "parent":"090000",  "name":"Aviser, bøger og papirvarer", "andel": 0.938},
              {"size": 0, "id": "095100", "parent":"095000",  "name":"Bøger", "andel": 0.2916},
                {"size": 0.15, "id": "095110", "parent":"095100",  "name":"skønliteratur"},
                {"size": 0.0844, "id": "095120", "parent":"095100",  "name":"Fag-, studiebøger"},
                {"size": 0.0487, "id": "095130", "parent":"095100",  "name":"Andre fagbøger"},
                {"size": 0.0085, "id": "095140", "parent":"095100",  "name":"E-bøger mv."},
              {"size": 0, "id": "095200", "parent":"095000",  "name":"Aviser og tidskrifter", "andel": 0.5224},
                {"size": 0.3834, "id": "095210", "parent":"095200",  "name":"Aviser"},
                {"size": 0.139, "id": "095220", "parent":"095200",  "name":"Magasiner og tidskrifter"},
              {"size": 0.0631, "id": "095300", "parent":"095000",  "name":"Papirvarer og , skriveredskaber mv."},
              {"size": 0, "id": "095400", "parent":"095000",  "name":"Andre papirvarer og tegnematerialer", "andel": 0.0609},
                {"size": 0.0354, "id": "095410", "parent":"095400",  "name":"produkter af papir"},
                {"size": 0.0255, "id": "095490", "parent":"095400",  "name":"Andre papirvarer og tegnematerialer"},
            {"size": 0, "id": "096000", "parent":"090000",  "name":"Pakkerejser", "andel": 0.4112},
              {"size": 0.4112, "id": "096020", "parent":"096000",  "name":"Pakkerejser, udenrigs"},

              {"size": 0, "id": "100000", "parent":"000000",  "name":"UDDANNELSE", "andel": 0.9222},
            {"size": 0, "id": "101000", "parent":"100000",  "name":"Førskoleundervisning og primær undervisning", "andel": 0.3338},
              {"size": 0.3338, "id": "101020", "parent":"101000",  "name":"Grundskole"},
            {"size": 0.3304, "id": "102000", "parent":"100000",  "name":"Ungdomsuddannelse"},
            {"size": 0.1202, "id": "104000", "parent":"100000",  "name":"Vidergående uddannelse"},
            {"size": 0.1378, "id": "105000", "parent":"100000",  "name":"Undervisning for niveau"},

          {"size": 0, "id": "110000", "parent":"000000",  "name":"RESTAURANTER OG HOTELLER", "andel": 5.0053},
            {"size": 0, "id": "111000", "parent":"110000",  "name":"Restauranter, cafeer og kantiner mv.", "andel": 4.3402},
              {"size": 0, "id": "111100", "parent":"111000",  "name":"Restauranter, cafeer og fastfood", "andel": 4.1686},
                {"size": 2.3829, "id": "111110", "parent":"111100",  "name":"Restauranter, cafeer"},
                {"size": 1.7857, "id": "111120", "parent":"111100",  "name":"Fastfood, takeaway"},
              {"size": 0.1716, "id": "111200", "parent":"111000",  "name":"Kantiner"},
            {"size": 0, "id": "112000", "parent":"110000",  "name":"Hoteller, sommerhuse, camping og vandrehjem", "andel": 0.6651},
                {"size": 0.2901, "id": "112010", "parent":"112000",  "name":"Hoteller, moteller, kroer o.l."},
                {"size": 0.375, "id": "112020", "parent":"112000",  "name":"Sommerhuse, campingpladser, vansdrehjem o.l."},
          
          {"size": 0, "id": "120000", "parent":"000000",  "name":"ANDRE VARER OG TJENESTER", "andel": 8.7579},
            {"size": 0, "id": "121000", "parent":"120000",  "name":"Personlig Pleje", "andel": 2.0387},
              {"size": 0, "id": "121100", "parent":"121000",  "name":"Frisørbehandling o.l.", "andel": 0.685},
                {"size": 0.1446, "id": "121110", "parent":"121100",  "name":"Frisørbehandlinger til mænd og børn"},
                {"size": 0.4138, "id": "121120", "parent":"121100",  "name":"Frisørbehandlinger til kvinder"},
                {"size": 0.1266, "id": "121130", "parent":"121100",  "name":"Personlige plejebehendlinger"},
              {"size": 0, "id": "121200", "parent":"121000",  "name":"Elektriske apparater til personlig pleje", "andel": 0.0955},
                {"size": 0.0955, "id": "121210", "parent":"121200",  "name":"Elektriske apparater til personlig pleje"},
              {"size": 0, "id": "121300", "parent":"121000",  "name":"Andre apparater, artikler og produkter til personlig pleje", "andel": 1.2582},
                {"size": 0.0714, "id": "121310", "parent":"121300",  "name":"Ikke-elektriske apparater"},
                {"size": 1.1868, "id": "121320", "parent":"121300",  "name":"Artikler til personlig hygiejne o.l."},
            {"size": 0, "id": "123000", "parent":"120000",  "name":"Andre personlige effekter", "andel": 0.6845},
              {"size": 0, "id": "123100", "parent":"123000",  "name":"Smykker, ure mv.", "andel": 0.225},
                {"size": 0.1611, "id": "123110", "parent":"123100",  "name":"Smykker"},
                {"size": 0.0531, "id": "123120", "parent":"123100",  "name":"Ure"},
                {"size": 0.0108, "id": "123130", "parent":"123100",  "name":"Reparation af smykker og ure"},
              {"size": 0, "id": "123200", "parent":"123000",  "name":"Øvrige personlige effekter", "andel": 0.4595},
                {"size": 0.4004, "id": "123210", "parent":"123200",  "name":"Tasker, rygsække o.l."},
                {"size": 0.0265, "id": "123220", "parent":"123200",  "name":"Artikler til babyer"},
                {"size": 0.0326, "id": "123290", "parent":"123200",  "name":"Andre personlige effekter"},
            {"size": 0, "id": "124000", "parent":"120000",  "name":"Daginstitutioner og social forsog", "andel": 1.6346},
              {"size": 1.5183, "id": "124010", "parent":"124000",  "name":"Børnepasning"},
              {"size": 0.0361, "id": "124020", "parent":"124000",  "name":"Udgifter til plejehjem"},
              {"size": 0.0802, "id": "124030", "parent":"124000",  "name":"Madudbringning til pensiinister"},
            {"size": 0, "id": "125000", "parent":"120000",  "name":"Forsikringer", "andel": 1.7688},
              {"size": 0.5569, "id": "125200", "parent":"125000",  "name":"Forikring i forbindelse med bolig"},
              {"size": 0, "id": "125300", "parent":"125000",  "name":"Syge- og ulykkeforsikring", "andel": 0.4772},
                {"size": 0.4772, "id": "125320", "parent":"125300",  "name":"Privat sygeforsikring"},
              {"size": 0, "id": "125400", "parent":"125000",  "name":"Forsikring i forbindelse med transport", "andel": 0.5471},
                {"size": 0.48, "id": "125410", "parent":"125400",  "name":"Motorkøretøjsforsikring"},
                {"size": 0.0671, "id": "125420", "parent":"125400",  "name":"Rejseforsikring"},
              {"size": 0.1876, "id": "125500", "parent":"125000",  "name":"Anden forsikring"},
            {"size": 0, "id": "126000", "parent":"120000",  "name":"Finansielle tjenester", "andel": 1.7134},
              {"size": 1.0329, "id": "126210", "parent":"126000",  "name":"Gebyr til banker mv."},
              {"size": 0.6805, "id": "126220", "parent":"126000",  "name":"Revisor og anden finansiel rådgivning"},
            {"size": 0, "id": "127000", "parent":"120000",  "name":"Andre tjenester", "andel": 0.9181},
              {"size": 0.2782, "id": "127010", "parent":"127000",  "name":"Administrative gebyrer"},
              {"size": 0.2555, "id": "127020", "parent":"127000",  "name":"Juridiske tjenesteydelser"},
              {"size": 0.3844, "id": "127030", "parent":"127000",  "name":"Begravelsestjenester"}


            
        ], 

      "transform": [
        {
          "type": "stratify",
          "key": "id",
          "parentKey": "parent"
        },
        {
          "type": "partition",
          "field": "size",
          "size": [{"signal": "2 * PI"}, {"signal": "width/2"}],
          "as": ["a0", "r0", "a1", "r1", "depth", "children"]
        }
      ]
    }
  ],

  "scales": [
    {
      "name": "color",
      
      "type": "linear",
      "domain": {"data": "tree", "field": "id"},
      
      "range": {"scheme": "tableau20"}   
    }
  ],

  "marks": [
    {
      "type": "arc",
      "from": {"data": "tree"},
      "encode": {
        
        "enter": {
          "x": {"signal": "width / 2"},
          "y": {"signal": "height /2"},

          "fill": {"scale": "color", "field": "id"},
          "tooltip": {"signal": "{'Category': datum.name, 'Weight in CPI': (datum.andel?datum.andel:datum.size)}"}
        },
        "update": {
          "startAngle": {"field": "a0"},
          "endAngle": {"field": "a1"},
          "innerRadius": {"field": "r0"},
          "outerRadius": {"field": "r1"},
          "stroke": {"value": "white"},
          "strokeWidth": {"value": 0.2},
          "zindex": {"value": 0}
        },
        "hover": {
          "stroke": {"value": "red"},
          "strokeWidth": {"value": 2},
          "zindex": {"value": 1}
        }
      }
    },
    {
      "type": "text",
      "from": {"data": "tree"},
      "encode": {
        "enter": {
          "text": {"field": "name"},
          "fontSize": { "signal": "(datum.a1-datum.a0)*10>1? min((datum.a1-datum.a0)*10,height/20):0" },
          "baseline": {"value": "middle"},
          "limit": { "signal": "(datum.r1-datum.r0)*0.9" },
          "align": {"value": "center"}
        },
        "update": {
          "x": {"signal": "width / 2"},
          "y": {"signal": "height / 2"},
          "limit": { "signal": "(datum.r1-datum.r0)*0.9" },
          "radius": {
            "signal": "(datum['r0'] == 0 ? 0 : datum['r0'] + datum['r1']) / 2"
          },
          "theta": {"signal": "(datum['a0'] + datum['a1']) / 2"},
          "angle": {
            "signal": "datum['r0'] == 0 ? 0 : ((datum['a0'] + datum['a1']) / 2) * 180 / PI + (inrange(((datum['a0'] + datum['a1']) / 2) % (2 * PI), [0, PI]) ? 270 : 90)"
          },
          "tooltip": {
            "signal": "datum.name + (datum.size ? ', ' + datum.size + ' bytes' : '')"
          }
        }
      }
    }
  ]
}


function csvToArray(str, delimiter = ";") {
  const headers = str.slice(0, str.indexOf("\n")).split(delimiter);
  const rows = str.slice(str.indexOf("\n") + 1).split("\n");
  const arr = rows.map(function (row) {
    const values = row.split(delimiter);
    const el = headers.reduce(function (object, header, index) {
      object[header] = values[index];
      return object;
    }, {});
    return el;
  });
  return arr;
}

    function fetchData(slectedTabel,VareGR){
    return axios.post("https://api.statbank.dk/v1/data", {
   "table": slectedTabel,
   "format": "CSV",
   "variables": [
      {
         "code": "ENHED",
         "values": [
            "100"
         ]
      },
      {
         "code": "TID",
         "values": [
            "2015*",
            "2016*",
            "2017*",
            "2018*",
            "2019*",
            "2020*",
            "2021*"
         ]
      },
      {
         "code": "VareGR",
         "values": [
            VareGR
         ]
      }
   ]
    })
  .then(function (response) {
    return response
    
  })
   
  }

  function fetchDataCurrentYear(slectedTabel,VareGR){
    return axios.post("https://api.statbank.dk/v1/data", {
   "table": slectedTabel,
   "format": "CSV",
   "variables": [
      {
         "code": "ENHED",
         "values": [
            "100"
         ]
      },
      {
         "code": "TID",
         "values": [
            "2021*"
         ]
      },
      {
         "code": "VareGR",
         "values": [
            VareGR
         ]
      }
   ]
    })
  .then(function (response) {
    return response
    
  })
   
  }

  function twoArrayToVegaObjects(labels,data){
    const zip = (a, b) => Array.from(Array(Math.max(b.length, a.length)), (_, i) => [a[i],b[i]])
    const Unlabeleddata = zip(labels,data) // left is year, right is value.
    var labeledData = [] // our final array. 
    var previous = Unlabeleddata[0][1] // previous value. Default to 100. Format: year, value
    var incdec // used for pushing. 
    Unlabeleddata.forEach((aData) => {
      if(parseFloat(aData[1])>=parseFloat(previous)){
        incdec="increase"
      } else {
        incdec="decrease"
      }
      console.log("adata: " + aData[1] + " previous: " +previous + "this is an: " + incdec)
      labeledData.push({"year" : aData[0], "start" : previous, "end": aData[1],"cat" : incdec})
      previous = aData[1]
    })
    return labeledData
   }


  function tidTilVegaTid(oldTid){
    return 
  }



  var Selector = "000000"
  function buildSecond(table,isFirstTime){
    if (ButtonState) {
      buildWaterFall(table,isFirstTime)}
    else { 
      buildHeatMap(table,isFirstTime)}
    }
  
   function buildHeatMap(table,isFirstTime){
      console.log(table)
      if(table.slice(-1)=="0"){
        var running=true
       while(running==true){
      if(table.slice(-1)=="0"){
        table=table.slice(0, -1)
      } else {running=false}
      
    }
    console.log(table)
    if(!table.length == 0){
    table=table + "*"
    var running=true

    while(running==true){ 
      if(table.length<6){
        table = table + "0"
        
      } else{running=false}
    }
    } else {table = "*0000"}
    }
    console.log("table: " + table)
    const FetchDataPromisePris111 = new Promise((value) => {value(fetchDataCurrentYear("PRIS111",table))})
    FetchDataPromisePris111.then((value) => {
      console.log("value")
      const data = csvToArray(value.data)
      console.log(data)
      var indholdToInsert = []
      var categories = []
      console.log(data)
      data.forEach(item => {
        console.log(item)
        console.log("INDHOLD " + item["INDHOLD\r"] + ", TID " + item["TID"] + ", VAREGR " +item["VAREGR"])
        if(item["INDHOLD\r"] != undefined && item["VAREGR"] != undefined){
          var value = item["INDHOLD\r"].replace(",",".").replace("\r", "")
          var cat = item["VAREGR"]
          var date = item["TID"].replace("M","-")
          var insert = ({"date": date, "priceindex": value, "category": cat})
          console.log("insert: {date: " + date + ", priceindex: " + value + ", category: "+ cat +"}")
          indholdToInsert.push(insert)
          categories.push(cat)
        } else {
          console.log("item " + item + " is unusable.")
        }
      })
      console.log("to insert:")
      console.log(indholdToInsert)
      console.log("and find its subcategories:")
      console.log(categories)

      // TEST DATA:
      var test = [
        {"date": "2014-12", "priceindex": 4.0, "category": 3121},
        {"date": "2015-01", "priceindex": 5.0, "category": 3121},
        {"date": "2015-02", "priceindex": 6.0, "category": 3121},
        {"date": "2015-03", "priceindex": 7.0, "category": 3121},
        {"date": "2015-04", "priceindex": 8.0, "category": 3121},
        {"date": "2015-05", "priceindex": 9.0, "category": 3121},
        {"date": "2015-06", "priceindex": 10.0, "category": 3121},
        {"date": "2015-07", "priceindex": 11.0, "category": 3121},
        {"date": "2015-08", "priceindex": 12.0, "category": 3121},
        {"date": "2015-09", "priceindex": 13.0, "category": 3121},
        {"date": "2015-10", "priceindex": 13.0, "category": 3121},
        {"date": "2015-11", "priceindex": 13.0, "category": 3121},
        {"date": "2016-12", "priceindex": 4.0, "category": 3121},
        {"date": "2016-01", "priceindex": 5.0, "category": 3121},
        {"date": "2016-02", "priceindex": 6.0, "category": 3121},
        {"date": "2017-03", "priceindex": 13.0, "category": 3122},
        {"date": "2017-04", "priceindex": 13.0, "category": 3122},
        {"date": "2017-05", "priceindex": 12.0, "category": 3122},
        {"date": "2017-06", "priceindex": 11.0, "category": 3122},
        {"date": "2017-07", "priceindex": 10.0, "category": 3122},
        {"date": "2017-08", "priceindex": 9.0, "category": 3122},
        {"date": "2017-09", "priceindex": 8.0, "category": 3122},
        {"date": "2017-10", "priceindex": 7.0, "category": 3122},
        {"date": "2017-11", "priceindex": 6.0, "category": 3122},
        {"date": "2018-04", "priceindex": 5.0, "category": 3122},
        {"date": "2018-01", "priceindex": 4.0, "category": 3122},
        {"date": "2018-02", "priceindex": 3.0, "category": 3122},
        {"date": "2018-03", "priceindex": 2.0, "category": 3122},
        {"date": "2015-01", "priceindex": 2.0, "category": 3123}
      ]
      
      var longestRowElementsTotal = 12 // TODO: HardCoded. This value should be the count of the most present category. Not spending time on that LOL
      var barLength = 800/longestRowElementsTotal

    //create heatmap
    var heatSpec = {
  "$schema": "https://vega.github.io/schema/vega/v5.json",
  "description": "A heatmap showing the consumer price index for selected goods. ",
  "width": 800, "height": 500, "padding": 5,
  "title": {
    "text": "Price index Heat Map for subcategories of: " + indholdToInsert[0].category,
    "anchor": "middle",
    "fontSize": 16,
    "frame": "group",
    "offset": 4
  },
  "signals": [
    {
      "name": "palette", "value": "BrownBlueGreen",
      "bind": {
        "input": "select",
        "options": [
          //"Turbo",
          //"Viridis",
          //"Magma",
          //"Inferno",
          //"Plasma",
          "Cividis",
          //"DarkBlue",
          "DarkGold",
          //"DarkGreen",
          "DarkMulti",
          //"DarkRed",
          "LightGreyRed",
          "LightGreyTeal",
          "LightMulti",
          "LightOrange",
          "LightTealBlue",
          "Blues",
          "Browns",
          "Greens",
          "Greys",
          "Oranges",
          "Purples",
          "Reds",
          "TealBlues",
          "Teals",
          //"WarmGreys",
          "BlueOrange",
          "BrownBlueGreen",
          "PurpleGreen",
          "PinkYellowGreen",
          "PurpleOrange",
          "RedBlue",
          "RedGrey",
          "RedYellowBlue",
          "RedYellowGreen",
          "BlueGreen",
          //"BluePurple",
          "GoldGreen",
          "GoldOrange",
          "GoldRed",
          "GreenBlue",
          "OrangeRed",
          "PurpleBlueGreen",
          //"PurpleBlue",
          "PurpleRed",
          "RedPurple",
          "YellowGreenBlue",
          "YellowGreen",
          "YellowOrangeBrown",
          "YellowOrangeRed"
        ]
      }
    },
    {
      "name": "reverse", "value": false, "bind": {"input": "checkbox"}
    }
  ],
  // data. Currently only test values + UNIX dates. 
  "data": [
    {
      "name": "data",
      "values": indholdToInsert,
      "format": {"parse": {"priceindex": "number", "date": "date"}},
      "transform": [
        { "type": "formula", "as": "day",
          "expr": "datetime(year(datum.date), month(datum.date))"},
        {"type": "formula", "as": "month", "expr": "datetime(year(datum.date), month(datum.date))"}
      ]
    }
  ],
  "scales": [
    { // X-axis.
      "name": "x",
      "type": "time",
      "domain": {"data": "data", "field": "month"},
      "range": "width"
    },
    { // Y-axis. 
      "name": "y",
      "type": "band",
      "domain": categories,
      "range": "height"
    },
    {
      "name": "color",
      "type": "linear",
      "range": {"scheme": {"signal": "palette"}},
      "domain": {"data": "data", "field": "priceindex"},"domainMid":100,
      "reverse": {"signal": "reverse"},
      "zero": false, "nice": true
    }
  ],
  "axes": [
    {"orient": "bottom", "scale": "x", "domain": false, "title": "Month", "format": "%b"},
    {
      "orient": "left", "scale": "y", "domain": false, "title": "Category",
      "encode": {
        "labels": {
          "update": {
            "text": {"signal": "datum.value"}
          }
        }
      }
    }
  ],
  // Right side legend.
  "legends": [
    {
      "fill": "color",
      "type": "gradient",
      "title": "Price index (100 = 2015)",
      "titleFontSize": 12,
      "titlePadding": 4,
      "gradientLength": {"signal": "height - 16"},
      // Move the legend further to the right. (change second number)
      "offset": {"signal": "datum.orient === 'top' ? 30 : 80"}
    }
  ],
  "params": [
      {
       "name": "highlight", 
       "select": {"type": "rect", "on": "mouseclick"}
      }
    ],
  "marks": [
    {
      "type": "rect",
      "from": {"data": "data"},
      "encode": {
        "enter": {
          "x": {"scale": "x", "field": "month"},
          "y": {"scale": "y", "field": "category"},
          "width": {"value": 75},// 75 is just enough to cover all whitespace.
          "height": {"scale": "y", "band": 1},
          "tooltip": {
            "signal": "{'Month': year(datum.day) + '-' + (month(datum.day)+1), 'Category': datum.category, 'Consumer Price Index': datum.priceindex}"
          }
        },
        "update": {
          "fill": {"scale": "color", "field": "priceindex"},
          // Update based on selections in params. 
          "opacity": {
            "condition": {"param": "highlight", "value": 0.5},
            "value": 1
          },
          "order": {"condition": {"param": "highlight", "value": 0.75}, "value": 0.5}
        }
      }
    }
  ]

      }
      let el = document.createElement('div');
      const rightside = document.getElementById("rightside");
      if(isFirstTime){
        rightside.appendChild(el)
      }else {
      rightside.replaceChild(el,oldRightPic)}
      oldRightPic=el
      vegaEmbed(el, heatSpec).then(p => window.view = p.view).catch(console.error);
      document.getElementById('rightside').scrollIntoView({ behavior: 'smooth', block: 'end'});
   })
   }
  var oldRightPic
  function buildWaterFall(table,isFirstTime){
     console.log("creating table for " + table + " as waterfall")
     const FetchDataPromisePris111 = new Promise((value) => {value(fetchData("PRIS111",table))})
     FetchDataPromisePris111.then((value) => {console.log("value")
     const data = csvToArray(value.data)
     
     var tid= []
     var indhold= [] 
     data.forEach(item => {
        if (item["INDHOLD\r"]!=undefined){
          indhold.push(item["INDHOLD\r"].replace("\r","").replace(",","."))
          tid.push(item["TID"].replace("M","-"))
        }
     }) 
    
    var min = indhold.min()
    var max = indhold.max()

    var WaterFallData = twoArrayToVegaObjects(tid,indhold)
    var setWithdata = {"values": WaterFallData}
    console.log(WaterFallData)
    var waterfallSpec = {
          "$schema": "https://vega.github.io/schema/vega-lite/v5.2.json",
          "description": "Waterfall chart of combined price index",
          "vconcat":[{
          "width": 1350, "height": 500, "padding": 0,
          "data": setWithdata,
          "encoding": {
            "x": {
              "field": "year",
              "type": "nominal",
              "scale": { 
                "domain": { 
                  "param": "brush" 
                } 
              }
            },
            "y": {
              "field": "start",
              "type": "quantitative",
              "axis": { "title": "Consumer Price Index for: " + table },
              "scale": { "domain": [min, max]}
            },
            "y2": {
              "field": "end",
              "type": "quantitative"
            }          
          },
          "transform": [{
              "filter": {"param": "brush"}
            }],
          "layer": [
            {
              "mark": "bar",
              "encoding": {
                "color": {
                  "field": "cat",
                  "type": "ordinal",
                  "scale": {
                    // "total is removed. Used to be: (total,#481f70ff) "
                    "domain": ["increase", "decrease"],
                    "range": ["#443a83ff", "#e3e418ff"]
                  }
                },
                "clip": {
                  "domain": {
                    "selection": "brush" 
                  }
                }
              }
            },
            {
              "mark": "text",
              "encoding": {
                "y": {
                  "field": "end", "type": "quantitative"
                },
                "text": {
                  "condition": { "test": "datum['cat'] == 'total'", "field": "start" },
                  "field": "end", "type": "nominal"
                },
                "color": {
                  "condition": { "test": "datum['cat'] != 'increase'", "value": "#000" },
                  "value": "#000"
                }
              }
            }
          ]
          }, { // The chart, where the brushing happens.
          "width": 1350, "height": 100, "padding": 0,
          "title": "Brush", 
          "data": setWithdata,
          "encoding": {
            "x": {
              "field": "year",
              "type": "nominal"
            },
            "y": {
              "field": "start",
              "type": "quantitative",
              "axis": { "title": " " },
              "scale": { "domain": [min, max]}
            },
            "y2": {
              "field": "end",
              "type": "quantitative"
            }
          },
          "layer": [
            {
              "mark": "bar",
              "selection": {
                "brush": { 
                  "type": "interval", 
                  "encodings": ["x"]
                }
              },
              "encoding": {
                "color": {
                  "field": "cat",
                  "type": "ordinal",
                  "legend": { "title": "Legend."},
                  "scale": {
                    // "total is removed. Used to be: (total,#481f70ff) "
                    "domain": ["increase", "decrease"],
                    "range": ["#443a83ff", "#e3e418ff"]
                  }
                }
              }
            },
            {
              "mark": "text",
              "encoding": {
                "y": {
                  "field": "end", "type": "quantitative"
                },
                "color": {
                  "condition": { "test": "datum['cat'] != 'increase'", "value": "#000" },
                  "value": "#000"
                }
              },
              "update":{          
                "opacity": {"value": 0}
              }
            }
          ]
          }], 
          "config": {
            "text": {
              "baseline": "bottom",
              "align": "center",
              "fontWeight": "bold"
            }
          }
        }
      let el = document.createElement('div');
      const rightside = document.getElementById("rightside");
      if(isFirstTime){
        rightside.appendChild(el)
      }else {
      rightside.replaceChild(el,oldRightPic)}
      oldRightPic=el
      vegaEmbed(el, waterfallSpec).then(p => window.view = p.view).catch(console.error);
      document.getElementById('rightside').scrollIntoView({ behavior: 'smooth', block: 'end'});
    }
  )
  }

  // Embed the visualization in the container with id `vis`
  vegaEmbed('#sunburst', sunburst).then(({spec, view}) => {
    view.addEventListener('mousedown', function (event, item) {
        Selector=item.datum.id
        buildSecond(Selector,false)
    })
  buildSecond(Selector,true)
})

Array.prototype.max = function() {
  return Math.max.apply(null, this);
};

Array.prototype.min = function() {
  return Math.min.apply(null, this);
};

document.getElementById("ChangeHeat").addEventListener("click", ChangeHeat);
var ButtonState = false
function ChangeHeat(){
   ButtonState = document.getElementById("ChangeHeat").checked

}
</script>