<h2> This page is a test for how vega lite works in web pages. </h2>

<!-- Dependencies for vega lite. -->
<script src="https://cdn.jsdelivr.net/npm/vega@5.22.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.5.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.21.0"></script>

<!-- Container for the visualization -->
<div id="vis"></div>
<!-- Script for the visualization specification. -->
<script>
  // Assign the specification to a local variable vlSpec.
  var vlSpec = {
    $schema: 'https://vega.github.io/schema/vega-lite/v5.json',
    data: {
      values: [
        { a: 'C', b: 2 },
        { a: 'C', b: 7 },
        { a: 'C', b: 4 },
        { a: 'D', b: 1 },
        { a: 'D', b: 2 },
        { a: 'D', b: 6 },
        { a: 'E', b: 8 },
        { a: 'E', b: 4 },
        { a: 'E', b: 7 }
      ]
    },
    mark: 'bar',
    encoding: {
      y: { field: 'a', type: 'nominal' },
      x: {
        aggregate: 'average',
        field: 'b',
        type: 'quantitative',
        axis: {
          title: 'Average of b'
        }
      }
    }
  };

  // Embed the visualization in the container with id `vis`
  vegaEmbed('#vis', vlSpec);
</script>

<div id="vis2"></div>
<script type="module"> 
  import axios from 'https://cdn.skypack.dev/axios';
  
  function twoArrayToVegaObjects(labels,data){
    const zip = (a, b) => Array.from(Array(Math.max(b.length, a.length)), (_, i) => [a[i],b[i]])
    const Unlabeleddata = zip(labels,data)
    var labeledData = []
    Unlabeleddata.forEach((aData) => {
        labeledData.push({a : aData[0], b : aData[1]})
    })
    console.log(labeledData)
    return labeledData
  }

  // Fetch data from API. 
  const myPromise = new Promise((value) => {value(axios.get('/api/data'))
  })
  myPromise.then((value) => {
    const labels = ["a", "b", "c", "d", "e","f"]
    const zip = (a, b) => Array.from(Array(Math.max(b.length, a.length)), (_, i) => [a[i],b[i]])
    const data = zip(labels,value.data)
    var labeledData = []
    data.forEach((aData) => {
        labeledData.push({a : aData[0], b : aData[1]})
    })
    console.log(labeledData)
    vlSpec = {
    $schema: 'https://vega.github.io/schema/vega-lite/v5.json',
    data: {
      values: labeledData
    },
    mark: 'bar',
    encoding: {
      y: { field: 'a', type: 'nominal' },
      x: {
        aggregate: 'average',
        field: 'b',
        type: 'quantitative',
        axis: {
          title: 'Average of b'
        }
      }
    }
  }
  vegaEmbed('#vis2', vlSpec)
  .then((res) => res.view
  .insert("myData", data)
  .run())
  })
</script>